.mobile-visible {
  display: none;
}

@media (max-width: 568px) {
  body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #141c3a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  .web-visible {
    display: none;
  }
  .section-heading {
    margin-bottom: 50px;
    text-align: center;
  }
  .mobile-visible {
    display: block;
    .cursor,
    .cursor2 {
      display: none;
    }

    .title {
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 20px;
    }
    .subtitle {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .description {
      font-size: 16px;
    }

    header {
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .mob-brand-logo {
          img {
            width: 120px;
          }
        }
        .top-action-buttons {
          display: flex;
          align-items: center;
          button {
            width: 50px;
            padding: 0;
            box-shadow: $box-shadow;
            border-radius: 50%;
            margin-left: 10px;
            &.button-outline {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                height: 50%;
                width: 1px;
                background-color: rgba($color: $indigo-color, $alpha: 0.6);
                right: -7px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
    .mob-profile-banner {
      .profile-box {
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 20px;
        background-color: rgba($color: $indigo-color, $alpha: 0.1);

        .profile__image {
          // height: 90px;
          // width: 90px;
          // border-radius: 10px;
          // background-color: white;
          position: relative;
          .profile__view {
            position: absolute;
            height: 40px;
            width: 40px;
            background-color: white;
            box-shadow: $box-shadow;
            border-radius: 50%;
            bottom: -20px;
            left: -20px;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              color: $black-color;
              font-size: 16px;
            }
          }
          img {
            height: 90px;
            width: 90px;
            object-fit: cover;
          }
        }
        .profile-detail {
          margin-left: 20px;
          .profile__name {
            font-size: 24px;
            color: $black-color;
            margin-bottom: 5px;
          }
          .profile__profession {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 0;
            color: $black-color;
          }
          .profile__date {
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0;
            color: $indigo-color;
          }
        }
      }
    }
    .mob-skill {
      padding: 40px 0;
      .tab__list {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .tab__item {
          display: inline-block;
          padding: 10px 20px;
          margin: 0 3px;
          font-size: 16px;
          font-weight: 500;
          color: $black-color;
          background-color: #f1f1f1;
          border-radius: 40px;
          &.active {
            background-color: $indigo-color;
            color: white;
          }
        }
      }
      .skill__content {
        display: flex;
        overflow: hidden;
        justify-content: center;
        .skill-card {
          display: none;
          &.show {
            display: block;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              height: 100%;
              width: 100%;
              left: calc(100% + 15px);
              top: 0;
              border: 1px solid rgba($color: #000000, $alpha: 0.1);
              padding: 20px;
              background-color: $white-color;
              border-radius: $rounded-md;
            }
            &::before {
              content: "";
              position: absolute;
              height: 100%;
              width: 100%;
              right: calc(100% + 15px);
              top: 0;
              border: 1px solid rgba($color: #000000, $alpha: 0.1);
              padding: 20px;
              background-color: $white-color;
              border-radius: $rounded-md;
            }
          }
          height: 100%;
          flex-shrink: 0;
          width: 85%;
          margin: 0 8px;
          //   box-shadow: $box-shadow;
          border: 1px solid rgba($color: #000000, $alpha: 0.1);
          padding: 20px;
          background-color: $white-color;
          border-radius: $rounded-md;
          text-align: center;
          .head {
            margin-bottom: 20px;
            .skill-icon__image {
              margin-bottom: 20px;
              img {
                height: 70px;
              }
            }
          }

          .body {
            margin-bottom: 20px;
          }
        }
      }
    }
    .mob-recent-work {
      padding: 40px 0;
      .project__list {
        .project__image {
          width: 100%;
          height: 194px;
          overflow: hidden;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(47, 79, 255, 0.2);
            left: 0;
            top: 0;
            z-index: 1;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
          }
          img {
            height: auto;
            width: 100%;
          }
        }
        .project-detail {
          height: 194px;
          &.bg--green {
            background-color: #14949f;
          }
          &.bg--orange {
            background-color: #ec6705;
          }
          padding: 10px;
          .subtitle {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
          }
          p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
          }
        }
      }
    }
    .mob-startup-projects {
      padding: 40px 0;
      .startup-project__list {
        .startup-project {
          width: 220px;
          display: block;
          .project__image {
            position: relative;
            margin-bottom: 20px;
            img {
              height: 220px;
              width: 220px;
              border-radius: 30px 20px 20px 0;
              object-fit: cover;
            }

            // &::after {
            //   content: "";
            //   position: absolute;
            //   border-style: solid;
            //   border-width: 20px;
            //   border-color: transparent transparent transparent white;
            //   bottom: -10px;
            //   left: 0;
            // }
          }
          .project-detail {
            .subtitle {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
    .mob-working-company {
      padding: 40px 0;
      .working-company__card {
        margin-bottom: 40px;
        .company__logo {
          position: absolute;
          top: -25px;
          left: 10px;
          background-color: white;
          padding: 10px;
          box-shadow: $box-shadow;
          padding: 10px 5px;
          border-radius: 10px;
          img {
            height: 35px;
          }
        }
        padding: 40px 15px 15px 15px;
        border-radius: 10px;
        box-shadow: $box-shadow;
        border: 2px solid rgba($color: $indigo-color, $alpha: 0.1);
        position: relative;
        .subtitle {
          margin-bottom: 10px;
        }
      }
    }
    .mob-colaborating {
      padding: 40px 0;
      .clock-container {
        height: 200px;
      }
      .coversation-icon {
        margin-top: 30px;
        height: 80px;
      }
    }
    .mob-testimonial {
      .box-shadow {
        border-radius: 20px;
      }
      .testimonial__card {
        .testimony-content {
          .testimony-text {
            font-size: 20px;
            color: $black-color;
            font-weight: 500;
            font-style: italic;
            line-height: 1.9;
          }
          img {
            height: 36px;
          }
        }
        .testimony-profile {
          margin-top: 30px;
          text-align: right;
          .profile__image {
            height: 60px;
            margin-left: auto;
            width: 60px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 5px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    .favorite-quotes {
      padding: 40px 0;
      .best__journey {
        height: 100px;
        margin-bottom: 20px;
      }
      .qoute__text {
        background-image: url();
        background-position: center;
        background-size: cover;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        line-height: 1.6;
      }
      .quote__owner {
        text-align: right;
        margin-top: 30px;
        font-size: 16px;
        color: $indigo-color;
      }
    }
    footer {
      text-align: center;
      padding: 40px;
      background-color: $indigo-color;
      position: relative;
      height: 370px;
      .wave-top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
      .brand-logo {
        margin-bottom: 20px;
        img {
          height: 120px;
        }
      }
      .subtitle {
        color: white;
        margin-bottom: 20px;
      }
      .social-media__list {
        display: flex;
        align-items: center;
        justify-content: center;
        .social-media__item {
          height: 48px;
          width: 48px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #eaeaea;
          margin: 0 10px;
          opacity: 0.8;
          margin-bottom: 20px;
          &:hover {
            opacity: 1;
            background-color: $white-color;
            i {
              color: $indigo-color;
            }
          }
          i {
            font-size: 24px;
            color: #eaeaea;
          }
        }
      }
    }
  }
}
