// boostrap 5 icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

//fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//varibles

$black-color: #141c3a;
$indigo-color: #2f4fff;
$white-color: #fff;
$rounded-md: 20px;
$rounded: 10px;
$transition: all 0.3s ease-in-out;
$box-shadow: 0 0 30px 0 rgba($color: #000000,
    $alpha: 0.1,
  );

body {
  //   font-family: "Berkshire Swash", cursive;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #141c3a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  // font-weight: 700;
  // font-family: "Work Sans", sans-serif;
  // font-family: "Berkshire Swash", cursive;
  font-family: 'Rubik', sans-serif;
}

.box-shadow {
  box-shadow: $box-shadow;
}

//typography

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
}

.text {
  &--black {
    color: $black-color;
  }

  &--indigo {
    color: $indigo-color;
  }

  &--white {
    color: white;
  }

  &--red {
    color: #e81224;
  }

  &--bold {
    font-weight: 600;
  }
}

//padding and margin

.section-heading {
  margin-bottom: 72px;
  text-align: center;
}

// custom buttons
.button {
  &-outline {
    height: 50px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-weight: 600;

    &.button--indigo {
      color: $indigo-color;
      border: 2px solid $indigo-color;

      &:hover {
        color: white;
        background-color: $indigo-color;
      }
    }

    &.button--white {
      color: $white-color;
      border: 2px solid $white-color;

      &:hover {
        color: $indigo-color;
        background-color: $white-color;
        border-color: $indigo-color;
      }
    }

    &.button--rounded {
      border-radius: 30px;
    }

    &.button--lg {
      height: 50px !important;
    }
  }

  &-solid {
    height: 50px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;


    &.button--indigo {
      background-color: $indigo-color;
      border: 2px solid $indigo-color;
      color: white;

      i {
        color: white;
      }

      &:hover {
        background-color: white;
        color: $indigo-color;

        i {
          color: $indigo-color;
        }
      }
    }

    &.button--white {
      color: $white-color;
      border: 2px solid $white-color;

      &:hover {
        color: $indigo-color;
        background-color: $white-color;
        border-color: $indigo-color;
      }
    }

    &.button--rounded {
      border-radius: 30px;
    }

    &.button--lg {
      height: 50px !important;
    }
  }
}

//input field
label {
  font-size: 16px;
  color: $black-color;
  margin-bottom: 10px;
  font-weight: 500;

  .required {
    color: red;
  }
}

.form-control {
  min-height: 50px;
  border-radius: 0;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  box-shadow: none !important;
  outline: none;
  font-size: 18px;
  color: $black-color;

  &:focus {
    border-color: $indigo-color;
  }
}

//contact popup
.contact-form__popup {
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-slider-thumb {
    width: 0px;
  }

  .contact-form__body {
    position: relative;
    background-color: white;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 80px 0px;

    .contact-form {
      background-color: white;
      padding: 50px;
      box-shadow: $box-shadow;
      border-radius: $rounded-md;

      .submit__button {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 30px;
        font-size: 20px;
        font-weight: 500;
        color: white;
        background-color: $indigo-color;
        border: 2px solid $indigo-color;
      }

      .contact__detail {
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
      }
    }

    .faqs__list {
      margin-bottom: 40px;

      li {
        &:nth-child(n) {
          border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        }

        .faq__question {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 16px 0;
          cursor: pointer;

          .icon-wrapper {
            margin-left: 20px;
            font-size: 24px;
            color: $black-color;
          }

          .subtitle {
            margin: 0;
          }
        }

        .faq__content {
          display: none;
        }
      }
    }

    .trusted-client__list {
      .client-logo__image {
        text-align: center;

        img {
          width: 100px;
        }
      }
    }
  }
}

// popup close button
.modal-close__button {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #dc3545;
  background-color: white;
  position: fixed;
  right: 30px;
  top: 10px;

  &:hover {
    svg {
      transform: rotate(90deg);
    }
  }

  svg {
    height: 30px;
    width: 30px;
    color: #dc3545;
    transition: $transition;
  }
}

// clock container
.clock-container {
  position: relative;
  height: 400px;
}

.clock {
  position: relative;
  height: 100%;

  &__big-tick {
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 4px;
    height: 50%;
    width: 10px;
    transform-origin: bottom center;

    @for $i from 0 to 12 {
      &--#{$i + 1} {
        transform: translateX(-50%) rotate($i * 30deg);
        background-image: linear-gradient(hsl($i * 30, 90%, 50%) 1%,
            transparent 14%);
      }
    }
  }

  &__small-tick {
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 5px;
    background-image: linear-gradient(rgba(black, 0.42) 1%, transparent 9%);
    height: 48.7%;
    width: 1px;
    transform-origin: bottom center;

    $currDeg: 6;

    @for $i from 0 to 48 {
      &--#{$i + 1} {
        transform: translateX(-50%) rotate($currDeg * 1deg);
      }

      @if $i % 4==3 {
        $currDeg: $currDeg +12;
      }

      @else {
        $currDeg: $currDeg +6;
      }
    }
  }
}

/////SVG TICK

// .tick {
//   display: block;
//   background: red;
//   transform-origin: 0 200%;
//   @for $i from 0 to 12 {
//     &--#{$i} {
//       color: black;
//       transform: rotate($i * 30deg);
//     }
//   }
// }

.sec-hand,
.small-hand,
.big-hand,
.center-up,
.center-bottom {
  position: absolute;
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
}

.sec-hand {
  left: 50%;
  bottom: 50%;
  width: 1.5px;
  // transform: translateX(-50%);
  transform-origin: bottom;
  height: 41%;
  background-color: rgba(red, 0.4);
}

.small-hand {
  left: 50%;
  bottom: 50%;
  width: 4px;
  height: 20%;
  // transform: translateX(-50%);
  transform-origin: bottom;
  background-color: black;
}

.big-hand {
  left: 50%;
  bottom: 50%;
  width: 3px;
  height: 39%;
  // transform: translateX(-50%);
  transform-origin: bottom;
  background-color: rgba(black, 0.65);
}

.center-bottom,
.center-up {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-bottom {
  width: 7.5rem;
  height: 7.5rem;
  box-shadow: -2px -1px 3px -2px rgba(black, 0.8765425),
    -1px -1px 3px -2px rgba(black, 0.4), inset 0 0 0 2.95rem rgba(black, 0.02),
    inset 0 0 0 2.75rem rgba(black, 0.086),
    inset 0 0 0 2.55rem rgba(black, 0.04);
  border-radius: 100px;
  background-color: none;
}

.center-up {
  width: 1.2rem;
  height: 1.2rem;
  background-color: black;
  box-shadow: 0 0 0 4px hsl(360, 50%, 50%), 0 0 0 6px darken(silver, 20%),
    0 0 0 7px rgba(black, 0.55);
  border-radius: 100px;
}

//fixed-right-centered nav links
.success-step__list {
  display: flex;
  align-items: center;
  flex-direction: column;

  .vertical__line {
    height: 70px;
    width: 2px;
    background-color: #fd5f76;
    margin-top: 20px;
  }

  img {
    height: 40px;
    margin-bottom: 6px;
  }

  &.fixed-left-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
  }
}

// custom slick slider dots

.cus-slider-dots {
  .slick-dots {
    li {
      height: auto;
      width: auto;
      margin: 0 5px;

      button {
        height: 10px;
        width: 10px;
        background-color: #ddd;
        border-radius: 10px;

        &::before {
          display: none;
        }
      }

      &.slick-active {
        button {
          background-color: $indigo-color;
          width: 26px;
        }
      }
    }
  }
}

.cus-slider-arrows {
  .slick-arrow {
    height: 50px;
    width: 50px;
    border: 2px solid #ffc1078c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100%;
    background-color: white;

    &.slick-next {
      right: calc(100% - 130px);

      &::before {
        content: "👉";
        margin-bottom: 7px;
      }
    }

    &.slick-prev {
      left: calc(0% + 15px);

      &::before {
        content: "👈";
        margin-bottom: 7px;
      }
    }
  }
}

// header css
@keyframes rotating-360 {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  50% {
    transform: translateY(-50%) rotate(360deg);
  }

  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}

// zoom in animation
@keyframes zoom-in {
  0% {
    height: 54px;
    width: 54px;
  }

  50% {
    height: 70px;
    width: 70px;
    opacity: 0.5;
  }

  100% {
    height: 54px;
    width: 54px;
  }
}

// line moving animation
@keyframes lineH {
  0% {
    width: 10%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

header {
  padding: 10px 0;
  border-bottom: 1px solid #2f4fff12;

  #lineh1 {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      height: 1px;
      background: #2f4fff12;
      animation: lineH 4s 5s infinite linear;
    }
  }

  .brand-logo {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      height: 68px;
      width: 68px;
      border-radius: 50%;
      border-style: solid;
      border-width: 3px;
      border-color: $indigo-color white $indigo-color $indigo-color;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      animation: rotating-360 3s infinite ease-in-out;
    }

    img {
      height: 70px;
    }
  }

  .nav-link {
    &__list {
      display: flex;
      align-items: center;
      justify-content: end;
    }

    &__item {
      margin-right: 20px;
      color: $indigo-color;
      font-size: 18px;
      border: none;
      background-color: transparent;
    }
  }
}

// banner section

.banner-section {
  position: relative;
  padding-bottom: 10px;
  padding-top: 64px;

  .banner-profile__image {
    text-align: center;
    margin-bottom: 40px;

    img {
      height: auto;
      width: 600px;
    }
  }

  .banner__title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: $black-color;
    font-weight: 800;
  }

  .banner__description {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .banner__animation {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 56px;
      margin: 0 20px;
    }
  }
}

//about me section

.overlapping-section {
  background-color: #e9ecef;
  padding-top: 100px;
  padding-bottom: 200px;
}

// skill section

.skill-section {
  padding-bottom: 64px;
  margin-top: -120px;
}

.skill-card {
  height: 100%;
  padding: 40px;
  border: 1px solid rgb(47 79 255 / 14%);
  background-color: $white-color;
  border-radius: $rounded-md;
  text-align: center;

  .head {
    margin-bottom: 40px;

    .skill-icon__image {
      margin-bottom: 30px;

      img {
        height: 100px;
      }
    }
  }

  .body {
    margin-bottom: 40px;
  }

  .foot {
    .tools__list {
      >li {
        &:last-child {
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

//recent-work section
.recent-work-section {
  padding: 64px;

  .recent-work__list {
    margin-top: 40px;
    position: relative;

    >li {
      margin-bottom: 100px;

      &:nth-child(2n + 1) {
        .tools__list {
          justify-content: flex-end;

          li {
            margin-left: 20px;
          }
        }

        .project-description {
          margin-left: -120px;
        }
      }

      &:nth-child(2n) {
        .tools__list {
          justify-content: flex-start;

          li {
            margin-right: 20px;
          }
        }

        .project-description {
          margin-right: -120px;
        }
      }

      .recent-work__item {
        width: 80%;
        margin: 0 auto;

        .project__thumbnail {
          width: 100%;
          position: relative;
          height: auto;
          text-align: center;
          overflow: hidden;

          // border-radius: $rounded-md;
          &:hover {

            // &::after {
            //   transform: scale(1);
            // }
            &:hover .button-outline {
              opacity: 1;
            }
          }

          // &::after {
          //   content: "";
          //   position: absolute;
          //   height: 100%;
          //   width: 100%;
          //   background-color: rgba($color: $indigo-color, $alpha: 0.2);
          //   left: 0;
          //   right: 0;
          //   z-index: 1;
          //   transform: scale(1);
          //   transition: $transition;
          // }
          .button-outline {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            opacity: 0;
            transition: $transition;
          }

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
          }
        }

        .tools__list {
          display: flex;
          align-items: center;
        }
      }

      .project-description {
        margin: 32px 0;
        padding: 20px;
        background-color: white;
        // border: 2px solid rgba($color: $indigo-color, $alpha: 0.2);
        z-index: 99;
        position: relative;
        border-radius: $rounded;
        box-shadow: $box-shadow;
      }
    }
  }
}

// client section

.company-section {
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  padding: 64px;

  .company-logo__image {
    text-align: center;

    img {
      width: 200px;
      margin-bottom: 30px;
    }
  }
}

.contact-section {
  padding: 64px 0;
  position: relative;

  .coversation-icon {
    height: 80px;
  }

  // height: 100vh;
  // display: flex;
  // align-items: center;
}

.startup-project-section {
  padding-bottom: 64px;
  margin-top: -120px;
}

.startup-project__card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  text-align: center;
  background-color: white;
  padding: 48px 40px;
  border-radius: $rounded;
  box-shadow: $box-shadow;

  &:hover {
    &::before {
      left: 0;
      top: 0;
    }
  }

  &::before {
    content: "";
    height: 100%;
    width: 100%;
    top: -10px;
    left: -10px;
    border: 2px solid #d7ddfe;
    background-color: transparent;
    position: absolute;
    transform: translateZ(-1px);
    transition: $transition;
    border-radius: $rounded;
  }

  .project__logo {
    margin-bottom: 40px;

    img {
      height: 60px;
    }
  }

  .description {
    height: 136px;
    margin-bottom: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.testimonial-section {
  padding: 64px 0;

  .padding-lg {
    padding: 64px;
    border-radius: 40px;
  }

  .testimony-user__image-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;

    .testimony-user__image {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 0 20px;
      cursor: pointer;
      transform: scale(1);

      &.active {
        transform: scale(1.5);
        padding: 1px;
        border: 2px dashed $indigo-color;

        &::after {
          content: "\f10e";
          position: absolute;
          top: 10px;
          right: -10px;
          height: 30px;
          width: 30px;
          background-color: $indigo-color;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          border-radius: 50%;
          color: white;
          border: 2px solid white;
        }
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .testimony-content__list {
    .testimony-content__item {
      text-align: center;
      display: none;

      &.show {
        display: block !important;
      }

      .description-lg {
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
      }
    }
  }
}

.quote-section {
  padding: 64px;

  .best__journey {
    height: 100px;
    margin-bottom: 20px;
  }

  .quote__item {
    position: relative;
    z-index: 1;

    &::before {
      content: "❤️";
      font-size: 32px;
      position: absolute;
      height: 50px;
      background-color: $black-color;
      width: 50px;
      top: calc(50% - 20px);
      transform: translateY(-50%);
      left: -25px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      right: -30px;
      width: 100%;
      height: 100%;
      background-color: #eaeaea;
      z-index: -1;
    }

    .quote__title {
      background-color: white;
      padding: 40px 40px 40px 80px;
      border: 2px solid $black-color;
    }
  }
}

// footer {
//   text-align: center;
//   padding: 64px;
//   background-color: #6e07f3;
//   .brand-logo {
//     margin-bottom: 40px;
//     img {
//       height: 90px;
//     }
//   }
//   .subtitle {
//     margin-bottom: 40px;
//   }
//   .social-media__list {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     .social-media__item {
//       height: 48px;
//       width: 48px;
//       border-radius: 50%;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border: 2px solid #eaeaea;
//       margin: 0 10px;
//       opacity: 0.8;
//       margin-bottom: 40px;
//       &:hover {
//         opacity: 1;
//         background-color: $white-color;
//         svg {
//           color: $indigo-color;
//         }
//       }
//       svg {
//         height: 24px;
//         width: 24px;
//         color: #eaeaea;
//       }
//     }
//   }
//   .copyright-text {
//     text-align: center;
//     font-size: 16px;
//     font-style: italic;
//     margin-bottom: 0;
//     color: #cea9ff;
//   }
// }
footer {
  text-align: center;
  padding: 64px;
  background-color: $indigo-color;
  position: relative;
  height: 800px;

  .wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .brand-logo {
    margin-bottom: 40px;

    img {
      height: 90px;
    }
  }

  .subtitle {
    color: white;
    margin-bottom: 40px;
  }

  .social-media__list {
    display: flex;
    align-items: center;
    justify-content: center;

    .social-media__item {
      height: 48px;
      width: 48px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #eaeaea;
      margin: 0 10px;
      opacity: 0.8;
      margin-bottom: 40px;

      &:hover {
        opacity: 1;
        background-color: $white-color;

        i {
          color: $indigo-color;
        }
      }

      i {
        font-size: 24px;
        color: #eaeaea;
      }
    }
  }

  .copyright-text {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 0;
    color: white;
  }

  .footer-back {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
  }
}

// hover effect

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid $indigo-color;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $indigo-color;
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 9999;
}

.hover {
  background-color: $indigo-color;
  opacity: 0.3;
}

// tooltip color
.tooltip-inner {
  background-color: $indigo-color;
  box-shadow: $box-shadow;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: $indigo-color;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: $indigo-color;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: $indigo-color;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: $indigo-color;
}

@import "./mobile";