@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
body {
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #141c3a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Berkshire Swash", cursive;
}

.box-shadow {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
}

.text--black {
  color: #141c3a;
}
.text--indigo {
  color: #2f4fff;
}
.text--white {
  color: white;
}
.text--bold {
  font-weight: 600;
}

.section-heading {
  margin-bottom: 72px;
  text-align: center;
}

.button-outline {
  height: 50px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.button-outline.button--indigo {
  color: #2f4fff;
  border: 2px solid #2f4fff;
}
.button-outline.button--indigo:hover {
  color: white;
  background-color: #2f4fff;
}
.button-outline.button--white {
  color: #fff;
  border: 2px solid #fff;
}
.button-outline.button--white:hover {
  color: #2f4fff;
  background-color: #fff;
  border-color: #2f4fff;
}
.button-outline.button--rounded {
  border-radius: 30px;
}
.button-outline.button--lg {
  height: 50px !important;
}
.button-solid {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.button-solid.button--indigo {
  background-color: #2f4fff;
  border: 2px solid #2f4fff;
  color: white;
}
.button-solid.button--indigo i {
  color: white;
}
.button-solid.button--indigo:hover {
  background-color: white;
  color: #2f4fff;
}
.button-solid.button--indigo:hover i {
  color: #2f4fff;
}
.button-solid.button--white {
  color: #fff;
  border: 2px solid #fff;
}
.button-solid.button--white:hover {
  color: #2f4fff;
  background-color: #fff;
  border-color: #2f4fff;
}
.button-solid.button--rounded {
  border-radius: 30px;
}
.button-solid.button--lg {
  height: 50px !important;
}

label {
  font-size: 16px;
  color: #141c3a;
  margin-bottom: 10px;
  font-weight: 500;
}
label .required {
  color: red;
}

.form-control {
  min-height: 50px;
  border-radius: 0;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  box-shadow: none !important;
  outline: none;
  font-size: 18px;
  color: #141c3a;
}
.form-control:focus {
  border-color: #2f4fff;
}

.contact-form__popup::-webkit-scrollbar {
  width: 0px;
}
.contact-form__popup::-webkit-slider-thumb {
  width: 0px;
}
.contact-form__popup .contact-form__body {
  position: relative;
  background-color: white;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 64px 0;
}
.contact-form__popup .contact-form__body .contact-form {
  background-color: white;
  padding: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.contact-form__popup .contact-form__body .contact-form .submit__button {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: #2f4fff;
  border: 2px solid #2f4fff;
}
.contact-form__popup .contact-form__body .contact-form .contact__detail {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.contact-form__popup .contact-form__body .faqs__list {
  margin-bottom: 40px;
}
.contact-form__popup .contact-form__body .faqs__list li:nth-child(n) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.contact-form__popup .contact-form__body .faqs__list li .faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  cursor: pointer;
}
.contact-form__popup .contact-form__body .faqs__list li .faq__question .icon-wrapper {
  margin-left: 20px;
  font-size: 24px;
  color: #141c3a;
}
.contact-form__popup .contact-form__body .faqs__list li .faq__question .subtitle {
  margin: 0;
}
.contact-form__popup .contact-form__body .faqs__list li .faq__content {
  display: none;
}
.contact-form__popup .contact-form__body .trusted-client__list .client-logo__image {
  text-align: center;
}
.contact-form__popup .contact-form__body .trusted-client__list .client-logo__image img {
  width: 100px;
}

.modal-close__button {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2f4fff;
  background-color: transparent;
  position: fixed;
  right: 30px;
  top: 10px;
}
.modal-close__button:hover svg {
  transform: rotate(90deg);
}
.modal-close__button svg {
  height: 30px;
  width: 30px;
  color: #2f4fff;
  transition: all 0.3s ease-in-out;
}

.clock-container {
  position: relative;
  height: 400px;
}

.clock {
  position: relative;
  height: 100%;
}
.clock__big-tick {
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 4px;
  height: 50%;
  width: 10px;
  transform-origin: bottom center;
}
.clock__big-tick--1 {
  transform: translateX(-50%) rotate(0deg);
  background-image: linear-gradient(hsl(0, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--2 {
  transform: translateX(-50%) rotate(30deg);
  background-image: linear-gradient(hsl(30, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--3 {
  transform: translateX(-50%) rotate(60deg);
  background-image: linear-gradient(hsl(60, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--4 {
  transform: translateX(-50%) rotate(90deg);
  background-image: linear-gradient(hsl(90, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--5 {
  transform: translateX(-50%) rotate(120deg);
  background-image: linear-gradient(hsl(120, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--6 {
  transform: translateX(-50%) rotate(150deg);
  background-image: linear-gradient(hsl(150, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--7 {
  transform: translateX(-50%) rotate(180deg);
  background-image: linear-gradient(hsl(180, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--8 {
  transform: translateX(-50%) rotate(210deg);
  background-image: linear-gradient(hsl(210, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--9 {
  transform: translateX(-50%) rotate(240deg);
  background-image: linear-gradient(hsl(240, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--10 {
  transform: translateX(-50%) rotate(270deg);
  background-image: linear-gradient(hsl(270, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--11 {
  transform: translateX(-50%) rotate(300deg);
  background-image: linear-gradient(hsl(300, 90%, 50%) 1%, transparent 14%);
}
.clock__big-tick--12 {
  transform: translateX(-50%) rotate(330deg);
  background-image: linear-gradient(hsl(330, 90%, 50%) 1%, transparent 14%);
}
.clock__small-tick {
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.42) 1%, transparent 9%);
  height: 48.7%;
  width: 1px;
  transform-origin: bottom center;
}
.clock__small-tick--1 {
  transform: translateX(-50%) rotate(6deg);
}
.clock__small-tick--2 {
  transform: translateX(-50%) rotate(12deg);
}
.clock__small-tick--3 {
  transform: translateX(-50%) rotate(18deg);
}
.clock__small-tick--4 {
  transform: translateX(-50%) rotate(24deg);
}
.clock__small-tick--5 {
  transform: translateX(-50%) rotate(36deg);
}
.clock__small-tick--6 {
  transform: translateX(-50%) rotate(42deg);
}
.clock__small-tick--7 {
  transform: translateX(-50%) rotate(48deg);
}
.clock__small-tick--8 {
  transform: translateX(-50%) rotate(54deg);
}
.clock__small-tick--9 {
  transform: translateX(-50%) rotate(66deg);
}
.clock__small-tick--10 {
  transform: translateX(-50%) rotate(72deg);
}
.clock__small-tick--11 {
  transform: translateX(-50%) rotate(78deg);
}
.clock__small-tick--12 {
  transform: translateX(-50%) rotate(84deg);
}
.clock__small-tick--13 {
  transform: translateX(-50%) rotate(96deg);
}
.clock__small-tick--14 {
  transform: translateX(-50%) rotate(102deg);
}
.clock__small-tick--15 {
  transform: translateX(-50%) rotate(108deg);
}
.clock__small-tick--16 {
  transform: translateX(-50%) rotate(114deg);
}
.clock__small-tick--17 {
  transform: translateX(-50%) rotate(126deg);
}
.clock__small-tick--18 {
  transform: translateX(-50%) rotate(132deg);
}
.clock__small-tick--19 {
  transform: translateX(-50%) rotate(138deg);
}
.clock__small-tick--20 {
  transform: translateX(-50%) rotate(144deg);
}
.clock__small-tick--21 {
  transform: translateX(-50%) rotate(156deg);
}
.clock__small-tick--22 {
  transform: translateX(-50%) rotate(162deg);
}
.clock__small-tick--23 {
  transform: translateX(-50%) rotate(168deg);
}
.clock__small-tick--24 {
  transform: translateX(-50%) rotate(174deg);
}
.clock__small-tick--25 {
  transform: translateX(-50%) rotate(186deg);
}
.clock__small-tick--26 {
  transform: translateX(-50%) rotate(192deg);
}
.clock__small-tick--27 {
  transform: translateX(-50%) rotate(198deg);
}
.clock__small-tick--28 {
  transform: translateX(-50%) rotate(204deg);
}
.clock__small-tick--29 {
  transform: translateX(-50%) rotate(216deg);
}
.clock__small-tick--30 {
  transform: translateX(-50%) rotate(222deg);
}
.clock__small-tick--31 {
  transform: translateX(-50%) rotate(228deg);
}
.clock__small-tick--32 {
  transform: translateX(-50%) rotate(234deg);
}
.clock__small-tick--33 {
  transform: translateX(-50%) rotate(246deg);
}
.clock__small-tick--34 {
  transform: translateX(-50%) rotate(252deg);
}
.clock__small-tick--35 {
  transform: translateX(-50%) rotate(258deg);
}
.clock__small-tick--36 {
  transform: translateX(-50%) rotate(264deg);
}
.clock__small-tick--37 {
  transform: translateX(-50%) rotate(276deg);
}
.clock__small-tick--38 {
  transform: translateX(-50%) rotate(282deg);
}
.clock__small-tick--39 {
  transform: translateX(-50%) rotate(288deg);
}
.clock__small-tick--40 {
  transform: translateX(-50%) rotate(294deg);
}
.clock__small-tick--41 {
  transform: translateX(-50%) rotate(306deg);
}
.clock__small-tick--42 {
  transform: translateX(-50%) rotate(312deg);
}
.clock__small-tick--43 {
  transform: translateX(-50%) rotate(318deg);
}
.clock__small-tick--44 {
  transform: translateX(-50%) rotate(324deg);
}
.clock__small-tick--45 {
  transform: translateX(-50%) rotate(336deg);
}
.clock__small-tick--46 {
  transform: translateX(-50%) rotate(342deg);
}
.clock__small-tick--47 {
  transform: translateX(-50%) rotate(348deg);
}
.clock__small-tick--48 {
  transform: translateX(-50%) rotate(354deg);
}

.sec-hand,
.small-hand,
.big-hand,
.center-up,
.center-bottom {
  position: absolute;
}

.sec-hand {
  left: 50%;
  bottom: 50%;
  width: 1.5px;
  transform-origin: bottom;
  height: 41%;
  background-color: rgba(255, 0, 0, 0.4);
}

.small-hand {
  left: 50%;
  bottom: 50%;
  width: 4px;
  height: 20%;
  transform-origin: bottom;
  background-color: black;
}

.big-hand {
  left: 50%;
  bottom: 50%;
  width: 3px;
  height: 39%;
  transform-origin: bottom;
  background-color: rgba(0, 0, 0, 0.65);
}

.center-bottom,
.center-up {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-bottom {
  width: 7.5rem;
  height: 7.5rem;
  box-shadow: -2px -1px 3px -2px rgba(0, 0, 0, 0.8765425), -1px -1px 3px -2px rgba(0, 0, 0, 0.4), inset 0 0 0 2.95rem rgba(0, 0, 0, 0.02), inset 0 0 0 2.75rem rgba(0, 0, 0, 0.086), inset 0 0 0 2.55rem rgba(0, 0, 0, 0.04);
  border-radius: 100px;
  background-color: none;
}

.center-up {
  width: 1.2rem;
  height: 1.2rem;
  background-color: black;
  box-shadow: 0 0 0 4px hsl(0, 50%, 50%), 0 0 0 6px #8d8d8d, 0 0 0 7px rgba(0, 0, 0, 0.55);
  border-radius: 100px;
}

.success-step__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.success-step__list .vertical__line {
  height: 70px;
  width: 2px;
  background-color: #fd5f76;
  margin-top: 20px;
}
.success-step__list img {
  height: 40px;
  margin-bottom: 6px;
}
.success-step__list.fixed-left-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
}

.cus-slider-dots .slick-dots li {
  height: auto;
  width: auto;
  margin: 0 5px;
}
.cus-slider-dots .slick-dots li button {
  height: 10px;
  width: 10px;
  background-color: #ddd;
  border-radius: 10px;
}
.cus-slider-dots .slick-dots li button::before {
  display: none;
}
.cus-slider-dots .slick-dots li.slick-active button {
  background-color: #2f4fff;
  width: 26px;
}

.cus-slider-arrows .slick-arrow {
  height: 45px;
  width: 45px;
  border: 2px solid rgba(47, 79, 255, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  background-color: white;
}
.cus-slider-arrows .slick-arrow.slick-next {
  right: calc(100% - 115px);
}
.cus-slider-arrows .slick-arrow.slick-next::before {
  content: "👉";
}
.cus-slider-arrows .slick-arrow.slick-prev {
  left: calc(0% + 15px);
}
.cus-slider-arrows .slick-arrow.slick-prev::before {
  content: "👈";
}

@keyframes rotating-360 {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  50% {
    transform: translateY(-50%) rotate(360deg);
  }
  100% {
    transform: translateY(-50%) rotate(0deg);
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes lineH {
  0% {
    width: 10%;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}
header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(47, 79, 255, 0.0705882353);
}
header #lineh1 {
  position: relative;
}
header #lineh1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 1px;
  background: rgba(47, 79, 255, 0.0705882353);
  animation: lineH 4s 5s infinite linear;
}
header .brand-logo {
  position: relative;
}
header .brand-logo::after {
  content: "";
  position: absolute;
  height: 68px;
  width: 68px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #2f4fff white #2f4fff #2f4fff;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: rotating-360 3s infinite ease-in-out;
}
header .brand-logo img {
  height: 70px;
}
header .nav-link__list {
  display: flex;
  align-items: center;
  justify-content: end;
}
header .nav-link__item {
  margin-right: 20px;
  color: #2f4fff;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.banner-section {
  position: relative;
  padding-bottom: 10px;
  padding-top: 64px;
}
.banner-section .banner-profile__image {
  text-align: center;
  margin-bottom: 40px;
}
.banner-section .banner-profile__image img {
  height: auto;
  width: 600px;
}
.banner-section .banner__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  color: #2f4fff;
}
.banner-section .banner__description {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.banner-section .banner__animation {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-section .banner__animation img {
  height: 56px;
  margin: 0 20px;
}

.overlapping-section {
  background-color: #2f4fff;
  padding-top: 100px;
  padding-bottom: 200px;
}

.skill-section {
  padding-bottom: 64px;
  margin-top: -120px;
}

.skill-card {
  height: 100%;
  padding: 40px;
  border: 1px solid rgba(47, 79, 255, 0.14);
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}
.skill-card .head {
  margin-bottom: 40px;
}
.skill-card .head .skill-icon__image {
  margin-bottom: 30px;
}
.skill-card .head .skill-icon__image img {
  height: 100px;
}
.skill-card .body {
  margin-bottom: 40px;
}
.skill-card .foot .tools__list > li:last-child p {
  margin-bottom: 0;
}

.recent-work-section {
  padding: 64px;
}
.recent-work-section .recent-work__list {
  margin-top: 40px;
  position: relative;
}
.recent-work-section .recent-work__list > li {
  margin-bottom: 100px;
}
.recent-work-section .recent-work__list > li:nth-child(2n+1) .tools__list {
  justify-content: flex-end;
}
.recent-work-section .recent-work__list > li:nth-child(2n+1) .tools__list li {
  margin-left: 20px;
}
.recent-work-section .recent-work__list > li:nth-child(2n+1) .project-description {
  margin-left: -120px;
}
.recent-work-section .recent-work__list > li:nth-child(2n) .tools__list {
  justify-content: flex-start;
}
.recent-work-section .recent-work__list > li:nth-child(2n) .tools__list li {
  margin-right: 20px;
}
.recent-work-section .recent-work__list > li:nth-child(2n) .project-description {
  margin-right: -120px;
}
.recent-work-section .recent-work__list > li .recent-work__item {
  width: 80%;
  margin: 0 auto;
}
.recent-work-section .recent-work__list > li .recent-work__item .project__thumbnail {
  width: 100%;
  position: relative;
  height: auto;
  text-align: center;
  overflow: hidden;
}
.recent-work-section .recent-work__list > li .recent-work__item .project__thumbnail:hover:hover .button-outline {
  opacity: 1;
}
.recent-work-section .recent-work__list > li .recent-work__item .project__thumbnail .button-outline {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.recent-work-section .recent-work__list > li .recent-work__item .project__thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.recent-work-section .recent-work__list > li .recent-work__item .tools__list {
  display: flex;
  align-items: center;
}
.recent-work-section .recent-work__list > li .project-description {
  margin: 32px 0;
  padding: 20px;
  background-color: white;
  z-index: 99;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.company-section {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 64px;
}
.company-section .company-logo__image {
  text-align: center;
}
.company-section .company-logo__image img {
  width: 200px;
  margin-bottom: 30px;
}

.contact-section {
  padding: 64px 0;
  position: relative;
}
.contact-section .coversation-icon {
  height: 80px;
}

.startup-project-section {
  padding-bottom: 64px;
  margin-top: -120px;
}

.startup-project__card {
  position: relative;
  height: 100%;
  transform-style: preserve-3d;
  text-align: center;
  background-color: white;
  padding: 48px 40px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.startup-project__card:hover::before {
  left: 0;
  top: 0;
}
.startup-project__card::before {
  content: "";
  height: 100%;
  width: 100%;
  top: -10px;
  left: -10px;
  border: 2px solid #d7ddfe;
  background-color: transparent;
  position: absolute;
  transform: translateZ(-1px);
  transition: all 0.3s ease-in-out;
}
.startup-project__card .project__logo {
  margin-bottom: 40px;
}
.startup-project__card .project__logo img {
  height: 60px;
}
.startup-project__card .description {
  height: 136px;
  margin-bottom: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.testimonial-section {
  padding: 64px 0;
}
.testimonial-section .padding-lg {
  padding: 64px;
  border-radius: 40px;
}
.testimonial-section .testimony-user__image-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.testimonial-section .testimony-user__image-list .testimony-user__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 20px;
  cursor: pointer;
  transform: scale(1);
}
.testimonial-section .testimony-user__image-list .testimony-user__image.active {
  transform: scale(1.5);
  padding: 1px;
  border: 2px dashed #2f4fff;
}
.testimonial-section .testimony-user__image-list .testimony-user__image.active::after {
  content: "\f10e";
  position: absolute;
  top: 10px;
  right: -10px;
  height: 30px;
  width: 30px;
  background-color: #2f4fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-radius: 50%;
  color: white;
  border: 2px solid white;
}
.testimonial-section .testimony-user__image-list .testimony-user__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.testimonial-section .testimony-content__list .testimony-content__item {
  text-align: center;
  display: none;
}
.testimonial-section .testimony-content__list .testimony-content__item.show {
  display: block !important;
}
.testimonial-section .testimony-content__list .testimony-content__item .description-lg {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
}

.quote-section {
  padding: 64px;
}
.quote-section .best__journey {
  height: 100px;
  margin-bottom: 20px;
}
.quote-section .quote__item {
  position: relative;
  z-index: 1;
}
.quote-section .quote__item::before {
  content: "❤️";
  font-size: 32px;
  position: absolute;
  height: 50px;
  background-color: #141c3a;
  width: 50px;
  top: calc(50% - 20px);
  transform: translateY(-50%);
  left: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-section .quote__item::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: -30px;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  z-index: -1;
}
.quote-section .quote__item .quote__title {
  background-color: white;
  padding: 40px 40px 40px 80px;
  border: 2px solid #141c3a;
}

footer {
  text-align: center;
  padding: 64px;
  background-color: #2f4fff;
  position: relative;
  height: 800px;
}
footer .wave-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
footer .brand-logo {
  margin-bottom: 40px;
}
footer .brand-logo img {
  height: 90px;
}
footer .subtitle {
  color: white;
  margin-bottom: 40px;
}
footer .social-media__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social-media__list .social-media__item {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #eaeaea;
  margin: 0 10px;
  opacity: 0.8;
  margin-bottom: 40px;
}
footer .social-media__list .social-media__item:hover {
  opacity: 1;
  background-color: #fff;
}
footer .social-media__list .social-media__item:hover i {
  color: #2f4fff;
}
footer .social-media__list .social-media__item i {
  font-size: 24px;
  color: #eaeaea;
}
footer .copyright-text {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 0;
  color: white;
}
footer .footer-back {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid #2f4fff;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: 9999;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #2f4fff;
  opacity: 0.3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 9999;
}

.hover {
  background-color: #2f4fff;
  opacity: 0.3;
}

.tooltip-inner {
  background-color: #2f4fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #2f4fff;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #2f4fff;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #2f4fff;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #2f4fff;
}

.mobile-visible {
  display: none;
}

@media (max-width: 568px) {
  .web-visible {
    display: none;
  }
  .text-sm {
    font-size: 14px !important;
  }
  picture {
    display: block;
  }
  body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #141c3a;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  .modal-close__button {
    height: 50px;
    width: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    right: 10px;
    border: 0;
  }
  .modal-close__button svg {
    height: 20px;
    width: 20px;
  }
  .mob-contact__popup {
    overflow-y: auto;
    background-color: white;
  }
  .mob-contact__popup .mob-contact-body {
    padding: 40px;
    background-color: white;
  }
  .mob-contact__popup .mob-contact-body .form-control {
    border-radius: 25px;
    padding: 0 25px;
    font-size: 16px;
  }
  .mob-contact__popup .mob-contact-body .social-media__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mob-contact__popup .mob-contact-body .social-media__list .social-media__item {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 7px;
  }
  .mob-contact__popup .mob-contact-body .social-media__list .social-media__item i {
    color: white;
    font-size: 20px;
  }
  .mob-contact__popup .mob-contact-body .social-media__list .social-media__item.facebook-color {
    background-color: #1877f2;
  }
  .mob-contact__popup .mob-contact-body .social-media__list .social-media__item.twitter-color {
    background-color: #1da1f2;
  }
  .mob-contact__popup .mob-contact-body .social-media__list .social-media__item.linkedin-color {
    background-color: #0a66c2;
  }
  .mob-contact__popup .mob-contact-body .social-media__list .social-media__item.github-color {
    background-color: #333;
  }
  .mob-profile__popup {
    height: 100vh;
    overflow-y: auto;
    background-color: white;
  }
  .mob-profile__popup .profile__image {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .mob-profile__popup .profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mob-profile__popup .mob-contact-body {
    padding: 40px 20px;
  }
  .mob-profile__popup .mob-contact-body .social-media__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .mob-profile__popup .mob-contact-body .social-media__list .social-media__item {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 15px;
  }
  .mob-profile__popup .mob-contact-body .social-media__list .social-media__item i {
    color: white;
    font-size: 20px;
  }
  .mob-profile__popup .mob-contact-body .social-media__list .social-media__item.facebook-color {
    background-color: #1877f2;
  }
  .mob-profile__popup .mob-contact-body .social-media__list .social-media__item.twitter-color {
    background-color: #1da1f2;
  }
  .mob-profile__popup .mob-contact-body .social-media__list .social-media__item.linkedin-color {
    background-color: #0a66c2;
  }
  .mob-profile__popup .mob-contact-body .social-media__list .social-media__item.github-color {
    background-color: #333;
  }
  .section-heading {
    margin-bottom: 50px;
    text-align: center;
  }
  .mobile-visible {
    display: block;
  }
  .mobile-visible .cursor,
  .mobile-visible .cursor2 {
    display: none;
  }
  .mobile-visible .title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .mobile-visible .subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .mobile-visible .description {
    font-size: 16px;
  }
  .mobile-visible header {
    border-bottom: 0;
  }
  .mobile-visible header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-visible header nav .mob-brand-logo img {
    width: 170px;
  }
  .mobile-visible header nav .top-action-buttons {
    display: flex;
    align-items: center;
  }
  .mobile-visible header nav .top-action-buttons .button {
    width: 50px;
    padding: 0;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: 10px;
    border: none !important;
  }
  .mobile-visible header nav .top-action-buttons .button i {
    font-size: 18px;
  }
  .mobile-visible header nav .top-action-buttons .button.button-outline {
    position: relative;
  }
  .mobile-visible header nav .top-action-buttons .button.button-outline::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 1px;
    background-color: rgba(47, 79, 255, 0.6);
    right: -7px;
    top: 50%;
    transform: translateY(-50%);
  }
  .mobile-visible .mob-profile-banner .profile-box {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(47, 79, 255, 0.1);
  }
  .mobile-visible .mob-profile-banner .profile-box .profile__image {
    position: relative;
  }
  .mobile-visible .mob-profile-banner .profile-box .profile__image img {
    border-radius: 20px;
    height: 90px;
    width: 90px;
    object-fit: cover;
  }
  .mobile-visible .mob-profile-banner .profile-box .profile__image .zoom-in-animation {
    position: relative;
  }
  .mobile-visible .mob-profile-banner .profile-box .profile__image .zoom-in-animation::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(47, 79, 255, 0.1);
    transform: scale(1.2);
    animation: zoom-in 2s ease-in-out infinite;
    z-index: 1;
  }
  .mobile-visible .mob-profile-banner .profile-box .profile__image .zoom-in-animation .profile__view {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    bottom: -20px;
    left: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    border: none;
  }
  .mobile-visible .mob-profile-banner .profile-box .profile__image .zoom-in-animation .profile__view i {
    color: #141c3a;
    font-size: 16px;
  }
  .mobile-visible .mob-profile-banner .profile-box .profile-detail {
    margin-left: 20px;
  }
  .mobile-visible .mob-profile-banner .profile-box .profile-detail .profile__name {
    font-size: 24px;
    color: #141c3a;
    margin-bottom: 2px;
  }
  .mobile-visible .mob-profile-banner .profile-box .profile-detail .profile__profession {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 2px;
    color: #141c3a;
  }
  .mobile-visible .mob-profile-banner .profile-box .profile-detail .profile__date {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    color: #2f4fff;
  }
  .mobile-visible .mob-skill {
    padding: 40px 0;
  }
  .mobile-visible .mob-skill .tab__list {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-visible .mob-skill .tab__list .tab__item {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 3px;
    font-size: 16px;
    font-weight: 500;
    color: #141c3a;
    background-color: #f1f1f1;
    border-radius: 40px;
    border: none;
  }
  .mobile-visible .mob-skill .tab__list .tab__item.active {
    background-color: #2f4fff;
    color: white;
  }
  .mobile-visible .mob-skill .skill__content {
    display: flex;
    overflow: hidden;
    justify-content: center;
  }
  .mobile-visible .mob-skill .skill__content .skill-card {
    display: none;
    height: 100%;
    flex-shrink: 0;
    width: 85%;
    margin: 0 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
  }
  .mobile-visible .mob-skill .skill__content .skill-card.show {
    display: block;
    position: relative;
  }
  .mobile-visible .mob-skill .skill__content .skill-card.show::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: calc(100% + 15px);
    top: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
  }
  .mobile-visible .mob-skill .skill__content .skill-card.show::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    right: calc(100% + 15px);
    top: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
  }
  .mobile-visible .mob-skill .skill__content .skill-card .head {
    margin-bottom: 20px;
  }
  .mobile-visible .mob-skill .skill__content .skill-card .head .skill-icon__image {
    margin-bottom: 20px;
  }
  .mobile-visible .mob-skill .skill__content .skill-card .head .skill-icon__image img {
    height: 70px;
  }
  .mobile-visible .mob-skill .skill__content .skill-card .body {
    margin-bottom: 20px;
  }
  .mobile-visible .mob-recent-work {
    padding: 40px 0;
  }
  .mobile-visible .mob-recent-work .project__list .project__image {
    width: 100%;
    height: 256px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .mobile-visible .mob-recent-work .project__list .project__image img {
    height: 100%;
    width: 100%;
  }
  .mobile-visible .mob-recent-work .project__list .project-detail {
    height: 256px;
    padding: 20px;
  }
  .mobile-visible .mob-recent-work .project__list .project-detail.bg--green {
    background-color: #14918B;
  }
  .mobile-visible .mob-recent-work .project__list .project-detail.bg--orange {
    background-color: #ec6705;
  }
  .mobile-visible .mob-recent-work .project__list .project-detail.bg--red {
    background-color: #9b0a27;
  }
  .mobile-visible .mob-recent-work .project__list .project-detail .subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .mobile-visible .mob-recent-work .project__list .project-detail p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .mobile-visible .mob-startup-projects {
    padding: 40px 0;
  }
  .mobile-visible .mob-startup-projects .startup-project__list .startup-project {
    display: block;
  }
  .mobile-visible .mob-startup-projects .startup-project__list .startup-project .project__image {
    position: relative;
    margin-bottom: 20px;
  }
  .mobile-visible .mob-startup-projects .startup-project__list .startup-project .project__image img {
    height: 220px;
    width: 220px;
    border-radius: 30px 20px 20px 0;
    object-fit: cover;
  }
  .mobile-visible .mob-startup-projects .startup-project__list .startup-project .project-detail {
    width: 220px;
  }
  .mobile-visible .mob-startup-projects .startup-project__list .startup-project .project-detail .subtitle {
    margin-bottom: 10px;
  }
  .mobile-visible .mob-working-company {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 40px 0;
  }
  .mobile-visible .mob-working-company .working-company__card {
    padding: 40px 15px 15px 15px;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(47, 79, 255, 0.1);
    position: relative;
  }
  .mobile-visible .mob-working-company .working-company__card .company__logo {
    position: absolute;
    top: -25px;
    left: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
  }
  .mobile-visible .mob-working-company .working-company__card .company__logo img {
    height: 35px;
  }
  .mobile-visible .mob-working-company .working-company__card .subtitle {
    margin-bottom: 10px;
  }
  .mobile-visible .mob-colaborating {
    padding: 40px 0;
  }
  .mobile-visible .mob-colaborating .clock-container {
    height: 200px;
  }
  .mobile-visible .mob-colaborating .coversation-icon {
    margin-top: 30px;
    height: 80px;
  }
  .mobile-visible .mob-testimonial .box-shadow {
    border-radius: 20px;
  }
  .mobile-visible .mob-testimonial .testimonial__card .testimony-content .testimony-text {
    font-size: 20px;
    color: #141c3a;
    font-weight: 500;
    font-style: italic;
    line-height: 1.9;
  }
  .mobile-visible .mob-testimonial .testimonial__card .testimony-content .testimony-text img {
    display: inline;
    height: 36px;
  }
  .mobile-visible .mob-testimonial .testimonial__card .testimony-profile {
    margin-top: 30px;
    text-align: right;
  }
  .mobile-visible .mob-testimonial .testimonial__card .testimony-profile .profile__image {
    height: 60px;
    margin-left: auto;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .mobile-visible .mob-testimonial .testimonial__card .testimony-profile .profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mobile-visible .favorite-quotes {
    padding: 40px 0;
  }
  .mobile-visible .favorite-quotes .best__journey {
    height: 100px;
    margin-bottom: 20px;
  }
  .mobile-visible .favorite-quotes .qoute__text {
    background-image: url();
    background-position: center;
    background-size: contain;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 1.6;
  }
  .mobile-visible .favorite-quotes .quote__owner {
    text-align: right;
    margin-top: 30px;
    font-size: 16px;
    color: #2f4fff;
  }
  .mobile-visible footer {
    text-align: center;
    padding: 40px;
    background-color: #2f4fff;
    position: relative;
    height: 370px;
  }
  .mobile-visible footer .wave-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .mobile-visible footer .brand-logo {
    margin-bottom: 20px;
  }
  .mobile-visible footer .brand-logo img {
    height: 120px;
  }
  .mobile-visible footer .subtitle {
    color: white;
    margin-bottom: 20px;
  }
  .mobile-visible footer .social-media__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-visible footer .social-media__list .social-media__item {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #eaeaea;
    margin: 0 10px;
    opacity: 0.8;
    margin-bottom: 20px;
  }
  .mobile-visible footer .social-media__list .social-media__item:hover {
    opacity: 1;
    background-color: #fff;
  }
  .mobile-visible footer .social-media__list .social-media__item:hover i {
    color: #2f4fff;
  }
  .mobile-visible footer .social-media__list .social-media__item i {
    font-size: 24px;
    color: #eaeaea;
  }
}/*# sourceMappingURL=main.css.map */